<h1>Admin</h1>
<p><strong>Admin pages:</strong></p>
<p>
	<ul>
		<li><%= link_to 'Manage Bread types', {:controller => 'breadtypes', :action => 'index'} %></li>
		<li><%= link_to 'Manage Ingredients', {:controller => 'ingredients', :action => 'index'} %></li>
	</ul>
</p>